*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .smooth-height {
  transition: max-height 0.5s linear;
  overflow: hidden;
}  */

/* input[type="number"] {
  -moz-appearance: textfield;
} */

/* src/index.css or main CSS file */

